body {
    font-size: .85em;
    font-family: webkit-small-control, Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* LED Table formatting 
	---------------------------------------------------------
*/
.blockOne,.blockTwo,.blockThree {
	display: inline-block;
	width: 25px;

}
.RowOne, .RowThree, .RowFive {
	height:15px;
	margin: 0;
	padding: 0;

}

.spacer {
	display: inline-block;
	width: 10px;
}

.RowTwo, .RowFour {
	height:15px;
	margin: 0;
	padding: 0;
}

.inputContainer {
	text-align: center;
	width: 100%;
}

h1 {
	width: 400px;
	border-radius: 4px;
	text-align: center;
	background: lightgray;
	padding: 1em;
	margin:auto;
}

#renderButton {
	background: lightblue;
	border-radius: 4px;
	font-size: 100%;
	padding: .5em 1em;
	border: 0 rgba(0,0,0,0);
}

#renderButton:hover {
	background: lightslategrey;
}



.invalidInput {
	padding: 0.5em;
	width:300px; 
	text-align: center;
	background: indianred;
}

.validInput {
	padding: 0.5em;
	width:200px; 
	text-align: center;
	background: lightgreen;
}